---
import HeroContent from "./HeroContent.astro";
import HeroImage from "./HeroImage.astro";
import Clients from "../Clients.astro";
---

<section class="flex flex-col h-screen">
    <HeroImage />
    <HeroContent />
    <Clients />
</section>
