---
import Layout from "../layouts/Layout.astro";
import Button from "../components/UI/Button.astro";
---

<Layout>
	<main>
		<Button
			text="Register"
			href="#"
			class="text-neutral-500 font-normal border-neutral-500"
		/>
	</main>
</Layout>;
