---
import Icons from "./UI/Icons.astro";
---

<section>
    <div class="flex justify-center gap-4">
        <Icons name="client-databiz" class="w-20 h-auto" />
        <Icons name="client-audiophile" class="w-15 h-auto" />
        <Icons name="client-meet" class="w-20 h-auto" />
        <Icons name="client-maker" class="w-20 h-auto" />
    </div>
</section>
