---
import Icons from "./UI/Icons.astro";
---

<section>
    <div class="flex justify-center gap-4 lg:justify-start lg:gap-6">
        <Icons name="client-databiz" class="w-20 h-auto lg:w-25" />
        <Icons name="client-audiophile" class="w-15 h-auto lg:w-20" />
        <Icons name="client-meet" class="w-20 h-auto lg:w-25" />
        <Icons name="client-maker" class="w-20 h-auto lg:w-25" />
    </div>
</section>
